
.charts-container{
    flex: 3;
    -webkit-box-shadow: 5px 6px 19px -5px rgba(0,0,0,0.47); 
    box-shadow: 5px 6px 19px -5px rgba(130, 129, 130, 0.97);
   padding: 10px;

    
          .title{

            font-weight: 400;
            font-size: 18px;
            padding-bottom: 5px;
          }
    

}